<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.Wealthwise"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Wealthwise">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat">

            <!-- Ta aktywność może mieć dodatkowe deklaracje i filtry intencji, jeśli są potrzebne -->
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/Theme.AppCompat">
            <!-- Ta aktywność może mieć dodatkowe deklaracje i filtry intencji, jeśli są potrzebne -->
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity
            android:name=".StatisticActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity
            android:name=".AssetsActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>
    </application>

</manifest>